config BOARD_INV2_NAV
    bool "invictus 2 navigation board"
    select SOC_RP2040
    select RP2_FLASH_W25Q080

config BOARD_INV2_OBC
    bool "invictus 2 on board computer"
    select SOC_RP2040
    select RP2_FLASH_W25Q080

config BOARD_INV2_HYDRA
    bool "invictus 2 hydraulic regulation and actuation"
    select SOC_RP2040
    select RP2_FLASH_W25Q080

config BOARD_INV2_PSAT
    bool "invictus 2 pocket sat"
    select SOC_RP2040
    select RP2_FLASH_W25Q080
