# ignore zephyr workspace stuff that is managed by west
build

/.west
/bootloader
/modules
/tools
/zephyr
/.venv

# other ignores
.cache

# direnv
.direnv

# compile commands
compile_commands.json

#test artifacts
twister-out*
