# editors
.vscode
*.swp
*~

/.west
/bootloader
/modules
/tools
/zephyr
/.venv

.cache
__pycache__/

# docs
/doc/_build*

# direnv
.envrc
.direnv

# zephyr
zephyr/
modules/
tools/
bootloader/
.west
kitware-archive.sh
