&pinctrl {
    pwm_default: pwm_default {
        group1 {
            pinmux = <PWM_2B_P5>;
        };
    };
};

&pwm {
    pinctrl-0 = <&pwm_default>;
    pinctrl-names = "default";
    divider-int-0 = <255>;
    status = "okay";
};