&uart0 {
       modbus0  {
                compatible = "zephyr,modbus-serial";
                status = "okay";
       };
       status = "okay";
};

&pinctrl {
    pwm_default: pwm_default {
        group1 {
            pinmux = <PWM_2B_P5>;
        };
    };
};

&pwm {
    pinctrl-0 = <&pwm_default>;
    pinctrl-names = "default";
    divider-int-0 = <255>;
    status = "okay";
};

/ {
       sx128x: sx128x {
              compatible = "zephyr,fake-sx128x";
              status = "okay";
              size = <DT_SIZE_K(8)>;
       };

       aliases {
              lora0 = &sx128x;
              modbus-rtu = &modbus_uart;
       };
};

