menu "Invictus 2 top level modbus configuration"

if INVICTUS2_LIBCOMMON_MODBUS

# ---- --------------- ----
# ---- General Options ----
# ---- --------------- ----

config MODBUS_REG_MTX_LOCK_TIMEOUT
    int "Timeout for locking modbus reg mutexes (in msec)"
    default 500

# ---- ---------------- ----
# ---- UF Hydra Options ----
# ---- ---------------- ----

config MODBUS_HYDRA_UF_SLAVE_ID
    int "Modbus slave address for the Upper Feed HYDRA"
    default 1

config MODBUS_HYDRA_UF_INPUT_ADDR_START
    int "start address for the UF HYDRA input registers"
    default 0

config MODBUS_HYDRA_UF_COILS_ADDR_START
    int "start address for the UF HYDRA coil registers"
    default 0

# ---- ---------------- ----
# ---- LF Hydra Options ----
# ---- ---------------- ----

config MODBUS_HYDRA_LF_SLAVE_ID
    int "Modbus slave address for the Lower Feed HYDRA"
    default 2

config MODBUS_HYDRA_LF_INPUT_ADDR_START
    int "start address for the LF HYDRA input registers"
    default 0

config MODBUS_HYDRA_LF_COILS_ADDR_START
    int "start address for the LF HYDRA coil registers"
    default 0

# ---- ---------------- ----
# ---- FS Hydra Options ----
# ---- ---------------- ----

config MODBUS_HYDRA_FS_SLAVE_ID
    int "Modbus slave address for the Rocket LIFT"
    default 3

config MODBUS_HYDRA_FS_INPUT_ADDR_START
    int "start address for the LF HYDRA input registers"
    default 0

config MODBUS_HYDRA_FS_COILS_ADDR_START
    int "start address for the LF HYDRA coil registers"
    default 0

# ---- ------------------- ----
# ---- Rocket LIFT Options ----
# ---- ------------------- ----

config MODBUS_ROCKET_LIFT_SLAVE_ID
    int "Modbus slave address for the Rocket LIFT"
    default 4

config MODBUS_ROCKET_LIFT_INPUT_ADDR_START
    int "start address for the Rocket LIFT input registers"
    default 0

config MODBUS_ROCKET_LIFT_COILS_ADDR_START
    int "start address for the Rocket LIFT coil registers"
    default 0

# ---- ------------------- ----
# ---- Rocket LIFT Options ----
# ---- ------------------- ----

config MODBUS_FS_LIFT_SLAVE_ID
    int "Modbus slave address for the Filling Station LIFT"
    default 5

config MODBUS_FS_LIFT_INPUT_ADDR_START
    int "start address for the Filling Station LIFT input registers"
    default 0

config MODBUS_FS_LIFT_COILS_ADDR_START
    int "start address for the Filling Station LIFT coil registers"
    default 0

endif # INVICTUS2_LIBCOMMON

endmenu
