source "Kconfig.zephyr"

menu "OBC Application Options"

config LORA_REDIRECT_UART
    bool "Enable LoRa UART Shell"
    help
      This option enables a specific UART shell for interacting with the LoRa module.
      It is useful for debugging and direct control of the LoRa functions via a terminal.
    default 1

config MODBUS_HYDRA_SAMPLE_INTERVAL_MSEC
    int "sample interval for hydra boards in milliseconds"
    default 500

config MODBUS_LIFT_SAMPLE_INTERVAL_MSEC
    int "sample interval for the lifts, in ms"
    default 500

config MODBUS_ZBUS_LISTENER_PRIO
    int "zbus priority assigned to the modbus listener callback"
    default 5

config MODBUS_WORK_Q_PRIO
    int "priority for the modbus work queue thread"
    default 5

config MODBUS_WORK_Q_STACK
    int "stack size for the modbus work q, in bytes"
    default 1024

config TEST_MODE
    bool "Enable test mode"
    help
      This option enables test mode for the application, used in the static tests.
      When turned off, the application will run in normal (launch) mode.
    default 1

endmenu
